<p>

  <span>

    <ul style="list-style-type: none;">
      <li style="margin-bottom: 10px;">
        <button class="btn btn-primary" (click)="togglePassword($event)">Display Password Details</button>
      </li>
      <ng-template *ngIf="isPasswordHidden == true else revealPassword">
        <li style="margin-bottom: 10px;">
          <input type="text" class="form-control">
        </li>
      </ng-template>
      <ng-template #revealPassword>
        <li style="margin-bottom: 10px;">
          <input type="text" class="form-control" value="Tuna">
        </li>
      </ng-template>
      <li
        *ngFor="let buttonClick of buttonClicks"
        [ngStyle]="{backgroundColor: buttonClick < 5 ? 'white' : '#6699CC'}"
        [ngClass]="{text: buttonClick >=5 }"
      >
        Password toggle button times clicked: {{buttonClick}}
      </li>
    </ul>

  </span>

</p>
