<p>
  <span>
    <ul style="list-style-type: none;">
      <li style="margin-bottom: 10px;">
        <button class="btn btn-primary" (click)="togglePassword($event)">Display Password Details</button>
      </li>
      <ng-template *ngIf="isPasswordHidden == true else revealPassword">
        <li style="margin-bottom: 10px;">
          <input type="text" class="form-control">
        </li>
      </ng-template>
      <ng-template #revealPassword>
        <li style="margin-bottom: 10px;">
          <input type="text" class="form-control" value="Tuna">
        </li>
      </ng-template>
      <li [ngStyle]="{backgroundColor: getPasswordBackgroundColour()}" [ngClass]="{text: buttonClicks >=5 }">Password toggle button times clicked: {{buttonClicks}}</li>
    </ul>
  </span>
</p>
